.top {
  padding: 100px 0px;
  background-color: #7d26cd;
}

.search-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ccc;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.s-box {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #7d26cd;
  font-size: 16px;
  line-height: 40px;
  width: 240px;
  padding: 0 6px;
}

.container {
  margin: 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
